.DS_Store
public/
exampleSite/public
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
# Ignore docs files
_site
.ruby-version
.jekyll-metadata
.vscode

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
# *.lock

# OS or Editor folders
*.scssc
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.asset-cache
.sass-cache
public
# Folders to ignore
node_modules